{
  "client": {
    "name": "{{ sensu_client_name }}",
    "address": "{{ sensu_client_address }}",
    "subscriptions": [
      "{{ sensu_client_subscription }}"
    ],
    "socket": {
      "bind": "{{ sensu_client_bind }}",
      "port": {{ sensu_client_port }}
    },
    "openstack": {
      "auth_url": "{{ openstack_auth_url }}",
      "password": "{{ openstack_password }}",
      "tenant_name": "{{ openstack_tenant_name }}",
      "username": "{{ openstack_username }}"
    },
    "haproxy": {
     "auth": "{{ haproxy_data.stdout_lines[1] }}",
     "uristats": "{{ haproxy_data.stdout_lines[0] }}"
    },
    "sensu":{
     "api": "http://{{ sensu_api_server }}:{{ sensu_api_port }}"
    }
  }
}
