[access "refs/*"]
  read = group centos-opstools-core
  owner = group centos-opstools-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group centos-opstools-core
    label-Code-Review = -2..+2 group centos-opstools-ptl
    label-Verified = -2..+2 group centos-opstools-ptl
    label-Workflow = -1..+1 group centos-opstools-core
    label-Workflow = -1..+1 group centos-opstools-ptl
    label-Workflow = -1..+0 group Registered Users
    submit = group centos-opstools-ptl
    read = group centos-opstools-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group centos-opstools-core
    read = group Registered Users
[access "refs/tags/*"]
    read = group Registered Users
    read = group centos-opstools-core
    push = group centos-opstools-core
    pushSignedTag =  group centos-opstools-core
    forgeCommitter = group centos-opstools-core
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
    action = merge if necessary
[project]
        description = No description provided
