---
- name: create httpd proxy config for Kibana
  template:
    src: 15-kibana4.conf.j2
    dest: '{{ httpd_config_parts_dir }}/15-kibana4.conf'
    owner: '{{ httpd_owner }}'
    group: '{{ httpd_group }}'
    mode: '{{ httpd_config_mode }}'
  notify: restart httpd

- name: create kibana htpasswd file
  tags:
    - skip_ansible_lint  # ignore ANISBLE0012
  command: >
    htpasswd -cb {{ kibana_proxy_htpasswd }} {{ kibana_proxy_user }}
    {{ kibana_proxy_pass }}
  notify: restart httpd

- name: insert firewalld rule for kibana
  set_fact:
    firewall_ports: >
      {{ firewall_ports + [kibana_proxy_port] }}
