---
uchiwa_package_name: uchiwa
uchiwa_service_name: uchiwa

uchiwa_bind: 127.0.0.1
uchiwa_server_address: localhost
uchiwa_port: 3000
uchiwa_refresh: 5

uchiwa_file_path: /etc/sensu/uchiwa.json
uchiwa_sensu_api_server_name: uchiwa

sensu_datacenters:
  - name: "{{ uchiwa_sensu_api_server_name }}"
    host: "{{ sensu_api_server }}"
    port: "{{ sensu_api_port }}"
