
<VirtualHost *:{{ kibana_proxy_port }}>

  <Location />
    ProxyPassMatch {{ kibana_proxy_dest }}
    ProxyPassReverse {{ kibana_proxy_dest }}

    AuthUserFile {{ kibana_proxy_htpasswd }}
    AuthName "{{ kibana_proxy_welcome_msg }}"
    AuthType Basic
    Require valid-user
  </Location>

</VirtualHost>
