---
- name: Install rabbitmq-server rpm
  yum:
   name: '{{ rabbitmq_package_name }}'
   state: present
  when: manage_packages|default(false)

- name: Start the rabbitmq service
  service:
   name: '{{ rabbitmq_service_name }}'
   state: started
   enabled: yes
  when: manage_services|default(false)

- name: Delete guest user on rabbitmq 
  rabbitmq_user:
     user:  '{{ rabbitmq_default_user }}' 
     state: absent 
  notify:
      - restart rabbitmq
                               

- name: Register rabbitmq firewal ports
  set_fact:
    firewall_ports: >
      {{ firewall_ports + ['{{ rabbitmq_port }}'] }}

