      "test-create-cinder-volume": {
        "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_cinder_volume --username :::openstack.username|{{ oscheck_default_username }}::: --password :::openstack.password|{{ oscheck_default_password }}::: --auth_url :::openstack.auth_url|{{ oscheck_default_auth_url }}::: --tenant :::openstack.tenant_name|{{ oscheck_default_username }}:::",
        "subscribers": ["{{ sensu_subscribers_oschecks_resources }}"],
        "interval": 900
      },
      "test-create-nova-instance": {
        "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_nova_instance {{ os_auth_args }}",
        "subscribers": ["{{ sensu_subscribers_oschecks_resources }}"],
        "interval": 900
      }
