"oschecks-check_keystone_api": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_keystone_api  {{ os_auth_args }} {{ os_region_arg }}",
            "subscribers": ["{{ oscheck_subscribers_keystone_api }}"],
            "interval": 60
        }
