{% set comma = joiner(",\n") -%}
{
    "checks": {
{% if sensu_manage_checks_systemd %}
{% for check in sensu_overcloud_checks %}
{{ comma() }}
{% include [
    "sensu-check-" + check.name + ".json.j2",
    "sensu-check-systemd.json.j2"
] %}
{% endfor %}
{% endif %}
{% if sensu_manage_checks_pcs %}
{% for check in sensu_overcloud_checks_pcs %}
{{ comma() }}
{% include [
    "sensu-check-" + check.name + ".json.j2",
    "sensu-check-pcs.json.j2"
] %}
{% endfor %}
{% endif %}
{% if sensu_manage_checks_oschecks %}
{% for check in sensu_remote_checks %}
{{ comma() }}
{% include [
    "sensu-check-" + check.name + ".json.j2",
    "sensu-check-oschecks.json.j2"
] %}
{% endfor %}
{% endif %}
{% if sensu_manage_checks_haproxy %}
{{ comma() }}
    "execute_haproxy_check": {
      "command": "sensu-haproxy-check.py --haproxy-auth :::haproxy.auth::: --haproxy-uri :::haproxy.uristats::: --sensu-uri :::sensu.api:::{% if haproxycheck_by_sevice %} --data-by-service{% endif%}",
      "subscribers": [
        "{{ sensu_client_subscription  }}"
      ],
      "interval": 60
    }
{% endif %}
}}
