{% if oscheck_enable_nova %}
 "oschecks-check_nova_instance": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_nova_instance --os-username :::openstack.username|{{ oscheck_default_username }}::: --os-password :::openstack.password|{{ oscheck_default_password }}::: --os-auth-url :::openstack.auth_url|{{ oscheck_default_auth_url }}::: -os-tenant-name :::openstack.tenant_name|{{ oscheck_default_username }}:::",
            "subscribers": [
                {{ oscheck_subscribers_nova }}
            ],
            "interval": 60
        },
{% endif %}
