"check-cinder-api": {
            "command": "systemctl is-active openstack-cinder-api || exit 1",
            "subscribers": ["{{ sensu_subscribers_cinder_api }}"],
            "interval": 60
        }
