{
    "checks": {
        {% include "sensu_oscheck-check-ceilometer_api.json.j2" ignore missing %}
        {% include "sensu_oscheck-check-cinder_api.json.j2" ignore missing %}
        {% include "sensu_oscheck-check-cinder_volume.json.j2" ignore missing %}
        {% include "sensu_oscheck-check-ceph_health.json.j2" ignore missing %}
        {% include "sensu_oscheck-check-ceph_df.json.j2" ignore missing %}
        {% include "sensu_oscheck-check-glance_api.json.j2" ignore missing %}
        {% include "sensu_oscheck-check-keystone_api.json.j2" ignore missing %}
        {% include "sensu_oscheck-check-neutron_api.json.j2" ignore missing %}
        {% include "sensu_oscheck-check-nova_instance.json.j2" ignore missing %}
        {% include "sensu_oscheck-check-nova_api.json.j2" ignore missing %}
}}
