{% if oscheck_enable_cinder %}
"oschecks-check_cinder_api": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_cinder_api -w :::api.warning|10::: -c :::api.critical|20::: --os-username :::openstack.username|{{ oscheck_default_username }}::: --os-password :::openstack.password|{{ oscheck_default_password }}::: --os-project-name :::openstack.project_name|{{ oscheck_default_project_name }}::: --os-auth-url :::openstack.auth_url|{{ oscheck_default_auth_url }}::: --os-tenant-name :::openstack.tenant_name|{{ oscheck_default_username }}:::",
            "subscribers": [
                {{ oscheck_subscribers_cinder }}
            ],
            "interval": 60
        },
{% endif %}
