"oschecks-check_nova_api": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_nova_api -w :::api.warning|10::: -c :::api.critical|20::: {{ os_auth_args }} {{ os_region_arg }}",
            "subscribers": ["{{ oscheck_subscribers_nova_api }}"],
            "interval": 60
        }
