{
    "checks": {
        "oscheck-check_sensu-client": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_amqp sensu-client",
            "subscribers":[ 
             {{ oscheck_default_subscribers }}   
            ],
            "interval": 60
        },
        "oschecks-check_ceilometer_api": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_ceilometer_api -w :::api.warning|10::: -c :::api.critical|20::: --os-username :::openstack.username|{{ oscheck_default_username }}::: --os-password :::openstack.password{{ oscheck_default_password }}::: --os-project-name :::openstack.project_name|{{ oscheck_default_project_name }}::: --os-auth-url :::openstack.auth_url|{{ oscheck_default_auth_url }}::: --os-tenant-name :::openstack.tenant_name|{{ oscheck_default_username }}::: ",
            "subscribers": [
                {{ oscheck_default_subscribers }}
            ],
            "interval": 60
        },
        "oschecks-check_cinder_api": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_cinder_api -w :::api.warning|10::: -c :::api.critical|20::: --os-username :::openstack.username|{{ oscheck_default_username }}::: --os-password :::openstack.password{{ oscheck_default_password }}::: --os-project-name :::openstack.project_name|{{ oscheck_default_project_name }}::: --os-auth-url :::openstack.auth_url|{{ oscheck_default_auth_url }}::: --os-tenant-name :::openstack.tenant_name|{{ oscheck_default_username }}:::",
            "subscribers": [
                {{ oscheck_default_subscribers }}
            ],
            "interval": 60
        },
        "oschecks-check_glance_api": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_glance_api -w :::api.warning|10::: -c :::api.critical|20::: --os-username :::openstack.username|{{ oscheck_default_username }}::: --os-password :::openstack.password{{ oscheck_default_password }}::: --os-project-name :::openstack.project_name|{{ oscheck_default_project_name }}::: --os-auth-url :::openstack.auth_url|{{ oscheck_default_auth_url }}::: --region_name :::openstack.region_name|{{ oscheck_default_region_name }}:::",
            "subscribers": [
                {{ oscheck_default_subscribers }}
            ],
            "interval": 60
        },
        "oschecks-check_keystone_api": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_keystone_api  --os-username :::openstack.username|{{ oscheck_default_username }}::: --os-password :::openstack.password{{ oscheck_default_password }}::: --os-project-name :::openstack.project_name|{{ oscheck_default_project_name }}::: --os-auth-url :::openstack.auth_url|{{ oscheck_default_auth_url }}:::",
            "subscribers": [
                {{ oscheck_default_subscribers }}
            ],
            "interval": 60
        },
        "oschecks-check_neutron_api": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_neutron_api -w :::api.warning|10::: -c :::api.critical|20::: --os-username :::openstack.username|{{ oscheck_default_username }}::: --os-password :::openstack.password{{ oscheck_default_password }}::: --os-project-name :::openstack.project_name|{{ oscheck_default_project_name }}::: --os-auth-url :::openstack.auth_url|{{ oscheck_default_auth_url }}::: --region_name :::openstack.region_name|{{ oscheck_default_region_name }}:::",
            "subscribers": [
                {{ oscheck_default_subscribers }}
            ],
            "interval": 60
        },
        "oschecks-check_nova_api": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_nova_api -w :::api.warning|10::: -c :::api.critical|20::: --os-username :::openstack.username|{{ oscheck_default_username }}::: --os-password :::openstack.password{{ oscheck_default_password }}::: --os-project-name :::openstack.project_name|{{ oscheck_default_project_name }}::: --os-auth-url :::openstack.auth_url|{{ oscheck_default_auth_url }}::: --region_name :::openstack.region_name|{{ oscheck_default_region_name }}:::",
            "subscribers": [
                {{ oscheck_default_subscribers }}
            ],
            "interval": 60
        }
    }
}

