 "oschecks-check_nova_instance": {
            "command": "/usr/libexec/openstack-monitoring/checks/oschecks-check_nova_instance {{ os_auth_args }}",
            "subscribers": ["{{ oscheck_subscribers_nova_instance }}"],
            "interval": 60
        }
