{
  "sensu": {{ sensu_datacenters | to_nice_json }},
  "uchiwa": {
    "host": "{{ uchiwa_bind }}",
    "port": {{ uchiwa_port }},
    "refresh": {{ uchiwa_refresh }}{% if uchiwa_authentication == 'uchiwa' %},
    "users": [
{% for user in uchiwa_credentials %}
      {
        "username": "{{ user.username }}",
        "password": "{{ user.password }}",
        "role": {
          "readonly": {{ ('readonly' in user) | ternary(user.readonly, 'false') }}
        }
      }{% if not loop.last -%},{% endif %}

{% endfor %}
    ]{% endif %}
  }
}
