 {
   "sensu":[{% for datacenter in datacenters %}{
            "name": "{{ datacenter.name }}",
            "host": "{{ datacenter.host }}",
            "port": {{ datacenter.port }}
           }{% if not loop.last %},{% endif %}{% endfor %}],
   "uchiwa": {
     "host": "{{ uchiwa_bind }}",
     "port": {{ uchiwa_port }},
     "refresh": {{ uchiwa_refresh }} 
   }
}
