{
  {% if data_storage | match("gnocchi") %}
  "name": "gnocchi",
  "type":"gnocchixyz-gnocchi-datasource",
  "url":"http://{{ grafana_gnocchi_data_storage }}:8041",
  "jsonData": { "mode": "noauth", "username":"admin"},
  {% else %}
  "name": "graphite",
  "type":"graphite",
  "url":"http://localhost:{{graphite_listen_port}}/",
  {% endif %}
  "access":"proxy",
  "isDefault":true,
  "basicAuth":false
}
