{
  {% if data_storage | match("gnocchi") %}
  "name": "gnocchi",
  "type":"gnocchixyz-gnocchi-datasource",
  "url":"http://{{ansible_host}}:8041",
  "basicAuth":true,
  "basicAuthUser": "admin",
  "basicAuthPassword": "notused",
  {% else %}
  "basicAuth":false,
  "name": "graphite",
  "type":"graphite",
  "url":"http://localhost:{{graphite_listen_port}}/",
  {% endif %}
  "access":"proxy",
  "isDefault":true
}
