RewriteRule ^({{ grafana_path }})$ http://%{HTTP_HOST}$1/ [R=301]

<Location {{ grafana_path }}>
    ProxyPass http://localhost:{{ grafana_port }}
    ProxyPassReverse http://localhost:{{ grafana_port }}
</Location>
