{
   "rabbitmq": {
     "port": {{ rabbitmq_port }},
     "host": "{{ rabbitmq_server }}",
     "user": "{{ sensu_rabbitmq_user }}",
     "password": "{{ sensu_rabbitmq_password }}",
     "vhost": "{{ sensu_rabbitmq_vhost }}"
   }
 }

