{
  "client": {
    "name": "{{ sensu_client_name }}",
    "address": "{{ sensu_client_address }}",
    "subscriptions": [
      "{{ sensu_client_subscription }}"
    ],
    "socket": {
      "bind": "{{ sensu_client_bind }}",
      "port": {{ sensu_client_port }}
    }
  }
}
